include LICENSE.txt
include README.rst
recursive-include termicoder/utils/scripts *
recursive-include termicoder/utils/templates *
include termicoder/utils/*.json
include termicoder/judges/codechef/*.json
global-exclude *.dump 
prune termicoder/judges/spoj
prune .ropeproject
graft documentation
